@using PriceMonitorData
@inject ItemPriceRepository db

    <div class="alert alert-secondary mt-4" role="alert">
        <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
        <strong>@Title</strong>
        <br />

        Item Name:<br />
        <input type="text" @bind="@name" /><br />
        URL:<br />
        <input type="url" @bind="@url" /><br />


        <span class="text-danger">@Error</span><br />

        <button class="btn btn-primary" @onclick="@AddNewItem">Add</button><br />

        <span class="text-success">@Success</span><br />
    </div>

@code {
    [Parameter]
    public string Title { get; set; }
    private string Error;
    private string Success;

    private string url;
    private string name;

    private async Task AddNewItem()
    {
        Success = null;

        if (string.IsNullOrWhiteSpace(name) || string.IsNullOrWhiteSpace(url))
        {
            Error = "Check your input.";
            return;
        }

        await db.CreateItem(name.Trim(), url.Trim());

        Error = null;
        Success = "Successfully.";

        url = String.Empty;
        name = String.Empty;
    }
}
