@page "/AdminAddItem"

@attribute [Authorize(Roles = "Admin")]

@using PriceMonitorData
@using PriceMonitorSites

@inject CosmosItemPriceRepository db

<AuthorizeView>
    <Authorized>
        @{email = context.User.Identity.Name;}
    </Authorized>
</AuthorizeView>

<div class="row">
    <div class="col-12">
        <h3>Add Item To Monitor</h3>
        <div class="card">
            <div class="card-header">
                Available item slots: <span class="text-success">almost endlessly</span>
            </div>
            <div class="card-body">
                <EditForm Model="@item" OnValidSubmit="@AddNewItem">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="ItemName" class="control-label">Item Name</label>
                        <InputText @bind-Value="@item.Name" class="form-control" id="ItemName" placeholder="Adam Audio T10S"></InputText>
                    </div>
                    <div class="form-group">
                        <label for="url" class="control-label">Url</label>
                        <InputText @bind-Value="@item.Url" class="form-control" id="url" placeholder="https://www.musik-produktiv.com/ru/sabvufery/adam-audio/"></InputText>
                    </div>

                    <div class="form-group">
                        <div class="form-group text-danger">@((MarkupString)Error)</div>
                        <div class="form-group text-success">@((MarkupString)Success)</div>
                        <ValidationSummary />
                        <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    private string email;

    private string Error;
    private string Success;

    private Item item = new Item();

    private async Task AddNewItem()
    {
        Success = null;
        Error = null;

        item = new Item()
        {
            Id = Guid.NewGuid().ToString(),
            Name = item.Name,
            Url = item.Url,
            SubscribersEmails = new string[] { email }
        };

        try
        {
            item = await db.SearchItemByNameAndUrlAsync(item.Name, item.Url);

            item = await db.AddSubscriberToItemAsync(item, email);

            Success += $"Item {item.Name} successfully created!";

            return;
        }
        catch { }

        try
        {
            decimal price = await PriceParser.Parse(item);

            Success = $"Price successfully parsed: {price} rub. <br />";
        }
        catch
        {
            Error = "Error on parsing item price.";

            return;
        }

        try
        {
            item = await db.CreateItemAsync(item.Name, item.Url, new string[] { email });
        }
        catch
        {
            Error = "Error on creating item.";

            return;
        }

        Success += $"Item {item.Name} successfully created!";

        item = new Item();
    }
}
