@page "/ItemPriceChanges/{ItemId}"
@attribute [Authorize]

@using PriceMonitorData
@inject CosmosItemPriceRepository db
@using Microsoft.AspNetCore.Mvc.TagHelpers

<h3>Item Price Changes</h3>

<div class="row">
    <div class="table-responsive">
        <div class="card">
            <div class="card-header">
                @if (item == null)
                {
                    <span class="text-secondary">Loading...</span>
                }
                else
                {
                    <p>Item:    <span class="font-weight-bold">@item.Name</span></p>
                    <p>Url:<a target="_blank" href="@item.Url">    @item.Url</a></p>
                }
            </div>
            @if (prices == null)
            {
                <span class="text-secondary">Loading...</span>
            }
            else if (prices.Length == 0)
            {
                <p><em>No information about prices...</em></p>
            }
            else
            {
                <table class="table table-sm table-striped">
                    <thead class="card-header">
                        <tr>
                            <th>Update Time</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody class="card-body">
                        @for(int i = 0; i < prices.Length; ++i)
                        {
                            <tr>
                                <td>@prices[i].Date.ToString("dd.MM.yy '/' H:mm")</td>
                                <td>
                                    @if (i < (prices.Length - 1) && prices[i].ItemPrice <= prices[i + 1].ItemPrice)
                                    {
                                        <span class="text-success">@prices[i].ItemPrice</span>
                                    }
                                    else if (i == (prices.Length - 1))
                                    {
                                       @prices[i].ItemPrice
                                    }
                                    else
                                    {
                                        <span class="text-danger">@prices[i].ItemPrice</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string ItemId { get; set; }

    private Price[] prices = null;
    private Item item = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if(item == null)
        {
            await LoadItem();
        }

        if (prices == null)
        {

            await LoadPrices();
        }
    }

    async Task LoadPrices()
    {
        try
        {
            prices = (await db.GetItemPricesAsync(item)).ToArray();

            this.StateHasChanged();
        }
        catch { }
    }

    async Task LoadItem()
    {
        try
        {
            item = await db.GetItemByIdAsync(ItemId);

            this.StateHasChanged();
        }
        catch { }
    }
}
